<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Mongo Scraper</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/saved">Saved Articles
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger clear">CLEAR ARTICLES!</a>
      </li>
    </ul>
  </div>
</nav>
<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Saved Articles</h1>
    <p>Your Saved Articles</p>
  </div>
</div>
<div class="container-fluid article-container">
    <div data-_id=5d14dcf7b8e8870015e7067d class="card">
      <div class="card-header">
        <h3>
          <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2019/06/27/technology/superhuman-email.html">Would You Pay $30 Monthly to Check Email?</a>
          <a class="btn btn-danger delete">Delete From Saved</a>
          <a class="btn btn-info notes">Article Notes</a>
        </h3>
      </div>
      <div class="card-body">Superhuman, a buzzy Silicon Valley startup, is betting the features of its invitation-only app are worth a premium price, our columnist writes.</div>
    </div>
    <div data-_id=5d14dcf7b8e8870015e7067c class="card">
      <div class="card-header">
        <h3>
          <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2019/06/27/opinion/first-democratic-debate.html">Elizabeth Warren Aced the First Democratic Debate</a>
          <a class="btn btn-danger delete">Delete From Saved</a>
          <a class="btn btn-info notes">Article Notes</a>
        </h3>
      </div>
      <div class="card-body">But is she really her party’s best bet?</div>
    </div>
</div>

<footer class="footer">
  <div class="container">
    <p>New York Times Mongo Scraper</p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="/assets/javascript/saved.js"></script>
